extends ../layouts/layout
block contents
    .breadcrumb-area.mb-30
        .container
            .breadcrumb-content
                ul
                    li
                        a(href='/home') Home
                    |
                    li.active Account
    .container
        .row.gutters-sm
            .col-md-4.mb-10
                .list-group.mb-30
                    button.list-group-item.list-group-item-action(type='button')
                        a(href='/account', style="color:black") Thông tin cá nhân
                    |
                    button.list-group-item.list-group-item-action.active(type='button') Lịch sử mua hàng
                    |
                    button.list-group-item.list-group-item-action(type='button')
                        a(href='/authentication/logout', style="color:black") Đăng xuất
                .card
                    .card-body
                        .d-flex.flex-column.align-items-center.text-center
                            img.rounded-circle(src='https://bootdey.com/img/Content/avatar/avatar7.png', alt='Admin', width='150')
                            |
                            .mt-3
                                h4= currentAccount.name
                                |
                                p.text-secondary.mb-1= currentAccount.phone
                                |
                                p.text-muted.font-size-sm= currentAccount.address
            .col-md-8.grid-margin.stretch-card
                .card
                    .card-body
                        h4.card-title Chi tiết đơn hàng
                        .table-responsive
                            table.table.table-hover
                                thead
                                    tr
                                        th Sản phẩm
                                        th Số lượng
                                        th Thành tiền
                                tbody
                                    each orderDetail in ordersDetail
                                        tr
                                            td= orderDetail.productId.name
                                            td= orderDetail.quantity
                                            td= orderDetail.price.toLocaleString('vi', {style : 'currency', currency : 'VND'})