// Begin Product Area
html
  head
  body
    .product-area.pt-60.pb-50
      .container
        .row
          .col-lg-12
            .li-product-tab
              ul.nav.li-product-menu
                li
                  a.active(data-toggle='tab', href='#li-new-product')
                    span New Arrival
                |
                li
                  a(data-toggle='tab', href='#li-bestseller-product')
                    span Bestseller
                |
                li
                  a(data-toggle='tab', href='#li-featured-product')
                    span Featured Products
            // Begin Li's Tab Menu Content Area
        |
        .tab-content
          #li-new-product.tab-pane.active.show(role='tabpanel')
            .row
              .product-active.owl-carousel
                each product in data[5]
                  .col-lg-12
                    // single-product-wrap start
                    .single-product-wrap
                      .product-image
                        a(href='/products/detail/'+product.code)
                          img(src=product.image[0], alt=product.name)
                        |
                        span.sticker New
                      |
                      .product_desc
                        .product_desc_info
                          .product-review
                            h5.manufacturer
                              a(href='/products/'+product.id_detail_category._id)= product.id_detail_category.name
                            |
                            .rating-box
                              ul.rating
                                li
                                  i.fa.fa-star-o
                                |
                                li
                                  i.fa.fa-star-o
                                |
                                li
                                  i.fa.fa-star-o
                                |
                                li.no-star
                                  i.fa.fa-star-o
                                |
                                li.no-star
                                  i.fa.fa-star-o
                          |
                          h4
                            a.product_name(href='/products/detail/'+product.code)= product.name
                          |
                          .price-box
                            span.new-price= product.priceSale.toLocaleString('vi', {style : 'currency', currency : 'VND'})
                            span.old-price= product.price.toLocaleString('vi', {style : 'currency', currency : 'VND'})
                            span.discount-percentage= product.sale+"%"
                        |
                        .add-actions
                          ul.add-actions-link
                            li.add-cart.active
                              a(href='/products/add-to-cart/'+product._id) Add to cart
                            |
                            li
                              a.links-details.add-wishlist(href='/products/add-to-wishlist/'+product._id)
                                i.fa.fa-heart-o
                            |
                            li
                              a.quick-view-btn(href='#', title='quick view', data-toggle='modal', data-target='#exampleModalCenter')
                                i.fa.fa-eye
                    // single-product-wrap end
          |
          #li-bestseller-product.tab-pane(role='tabpanel')
            .row
              .product-active.owl-carousel
                each product in data[6]
                  .col-lg-12
                    // single-product-wrap start
                    .single-product-wrap
                      .product-image
                        a(href='/products/detail/'+product.code)
                          img(src=product.image[0], alt="Li's Product Image")
                        |
                        span.sticker Best
                      |
                      .product_desc
                        .product_desc_info
                          .product-review
                            h5.manufacturer
                              a(href='/products/'+product.id_detail_category._id)= product.id_detail_category.name
                            |
                            .rating-box
                              ul.rating
                                li
                                  i.fa.fa-star-o
                                |
                                li
                                  i.fa.fa-star-o
                                |
                                li
                                  i.fa.fa-star-o
                                |
                                li.no-star
                                  i.fa.fa-star-o
                                |
                                li.no-star
                                  i.fa.fa-star-o
                          |
                          h4
                            a.product_name(href='/products/detail/'+product.code)= product.name
                          |
                          .price-box
                            span.new-price= product.priceSale.toLocaleString('vi', {style : 'currency', currency : 'VND'})
                            span.old-price= product.price.toLocaleString('vi', {style : 'currency', currency : 'VND'})
                            span.discount-percentage= product.sale+"%"
                        |
                        .add-actions
                          ul.add-actions-link
                            li.add-cart.active
                              a(href='/products/add-to-cart/'+product._id) Add to cart
                            |
                            li
                              a.links-details.add-wishlist(href='#')
                                i.fa.fa-heart-o
                            |
                            li
                              a.quick-view-btn(href='#', title='quick view', data-toggle='modal', data-target='#exampleModalCenter')
                                i.fa.fa-eye
                  // single-product-wrap end
          |
          #li-featured-product.tab-pane(role='tabpanel')
            .row
              .product-active.owl-carousel
                each product in data[8]
                  .col-lg-12
                    // single-product-wrap start
                    .single-product-wrap
                      .product-image
                        a(href='/products/detail/'+product.code)
                          img(src=product.image[0], alt="Li's Product Image")
                        |
                        span.sticker Fancy
                      |
                      .product_desc
                        .product_desc_info
                          .product-review
                            h5.manufacturer
                              a(href='/products/'+product.id_detail_category._id)= product.id_detail_category.name
                            |
                            .rating-box
                              ul.rating
                                li
                                  i.fa.fa-star-o
                                |
                                li
                                  i.fa.fa-star-o
                                |
                                li
                                  i.fa.fa-star-o
                                |
                                li.no-star
                                  i.fa.fa-star-o
                                |
                                li.no-star
                                  i.fa.fa-star-o
                          |
                          h4
                            a.product_name(href='/products/detail/'+product.code)= product.name
                          |
                          .price-box
                            span.new-price= product.priceSale.toLocaleString('vi', {style : 'currency', currency : 'VND'})
                            span.old-price= product.price.toLocaleString('vi', {style : 'currency', currency : 'VND'})
                            span.discount-percentage= product.sale+"%"
                        |
                        .add-actions
                          ul.add-actions-link
                            li.add-cart.active
                              a(href='/products/add-to-cart/'+product._id) Add to cart
                            |
                            li
                              a.links-details.add-wishlist(href='#')
                                i.fa.fa-heart-o
                            |
                            li
                              a.quick-view-btn(href='#', title='quick view', data-toggle='modal', data-target='#exampleModalCenter')
                                i.fa.fa-eye
                    // single-product-wrap end
                    //include ../compornents/quickview
// Product Area End Here
