.item
    .products
        .product
            .product-image
                .image
                    a(href='/products/detail/' + product.code)
                        img(src=product.image[0], alt='')
                        img.hover-image(src=product.image[1], alt='')
                    .tag.sale
                        span Sale
            // /.product-image
            .product-info.text-left
                h3.name
                    a(href='detail.html')= product.name
                .rating.rateit-small
                    .description
                        .product-price
                            span.price= product.priceSale.toLocaleString('vi', {style : 'currency', currency : 'VND'})
                            if (product.sale > 0)
                                span.price-before-discount= product.price.toLocaleString('vi', {style : 'currency', currency : 'VND'})
                        // /.product-price
            // /.product-info
            .cart.clearfix.animate-effect
                .action
                    ul.list-unstyled
                        li.add-cart-button.btn-group
                            a.btn.btn-primary.icon(href="/products/add-to-cart/" + product._id)
                                i.fa.fa-shopping-cart
                        li.lnk.wishlist
                            a.add-to-cart(href="/products/add-to-wishlist/" + product._id, title='Wishlist')
                                i.icon.fa.fa-heart