.sidebar-widget.outer-bottom-small
  h3.section-title= title
  .sidebar-widget-body.outer-top-xs
    .owl-carousel.sidebar-carousel.special-offer.custom-carousel.owl-theme.outer-top-xs
      .item
        .products.special-product
          each product in data[8]
            .product
              .product-micro
                .row.product-micro-row
                  .col.col-xs-5
                    .product-image
                      .image
                        a(href='/products/cate/' + product.code)
                          img(src=product.image[0], alt='')
                  .col.col-xs-7
                    .product-info
                      h3.name
                        a(href='/products/cate/' + product.code)= product.name
                      .rating.rateit-small
                        .product-price
                          span.price= product.price.toLocaleString('vi', {style : 'currency', currency : 'VND'})
      .item
        .products.special-product
          each product in data[8]
            .product
              .product-micro
                .row.product-micro-row
                  .col.col-xs-5
                    .product-image
                      .image
                        a(href='/products/cate/' + product.code)
                          img(src=product.image[0], alt='')
                  .col.col-xs-7
                    .product-info
                      h3.name
                        a(href='/products/cate/' + product.code)= product.name
                      .rating.rateit-small
                        .product-price
                          span.price= product.price.toLocaleString('vi', {style : 'currency', currency : 'VND'})
      .item
        .products.special-product
          each product in data[8]
            .product
              .product-micro
                .row.product-micro-row
                  .col.col-xs-5
                    .product-image
                      .image
                        a(href='/products/cate/' + product.code)
                          img(src=product.image[0], alt='')
                  .col.col-xs-7
                    .product-info
                      h3.name
                        a(href='/products/cate/' + product.code)= product.name
                      .rating.rateit-small
                        .product-price
                          span.price= product.price.toLocaleString('vi', {style : 'currency', currency : 'VND'})