// Begin Li's Trending Product Area
html
  head
  body
    section.product-area.li-trending-product.pt-60.pb-45
      .container
        .row
          // Begin Li's Tab Menu Area
          .col-lg-12
            .li-product-tab.li-trending-product-tab
              h2
                span Phụ kiện
              |
              ul.nav.li-product-menu.li-trending-product-menu
                li
                  a.active(data-toggle='tab', href='#accs1')
                    span Sạc dự phòng
                |
                li
                  a(data-toggle='tab', href='#accs2')
                    span Cáp sạc
                |
                li
                  a(data-toggle='tab', href='#accs3')
                    span Tai nghe
            // Begin Li's Tab Menu Content Area
            .tab-content.li-tab-content.li-trending-product-content
              #accs1.tab-pane.show.fade.in.active
                .row
                  .product-active.owl-carousel
                    each accs in accessories
                      if (accs.id_detail_category.name === 'Sạc dự phòng')
                        .col-lg-12
                          // single-product-wrap start
                          .single-product-wrap
                            .product-image
                              a(href='/products/detail/'+accs.code)
                                img(src=accs.image[0], alt=accs.name)
                              |
                              span.sticker HOT
                            |
                            .product_desc
                              .product_desc_info
                                .product-review
                                  h5.manufacturer
                                    a(href='/products/'+accs.id_detail_category._id)= accs.id_detail_category.name
                                  |
                                  .rating-box
                                    ul.rating
                                      li
                                        i.fa.fa-star-o
                                      |
                                      li
                                        i.fa.fa-star-o
                                      |
                                      li
                                        i.fa.fa-star-o
                                      |
                                      li.no-star
                                        i.fa.fa-star-o
                                      |
                                      li.no-star
                                        i.fa.fa-star-o
                                |
                                h4
                                  a.product_name(href='/products/detail/'+accs.code)= accs.name
                                |
                                .price-box
                                  span.new-price= (accs.price - (accs.price * accs.sale)/100).toLocaleString('vi', {style : 'currency', currency : 'VND'})
                                  span.old-price= accs.price.toLocaleString('vi', {style : 'currency', currency : 'VND'})
                                  span.discount-percentage= accs.sale+"%"
                              |
                              .add-actions
                                ul.add-actions-link
                                  li.add-cart.active
                                    a(href='/products/add-to-cart/'+accs._id) Add to cart
                                  |
                                  li
                                    a.links-details(href='/products/add-to-wishlist/'+accs._id)
                                      i.fa.fa-heart-o
                                  |
                                  li
                                    a.quick-view-btn(href='#', title='quick view', data-toggle='modal', data-target='#exampleModalCenter')
                                      i.fa.fa-eye
                          // single-product-wrap end
              |
              #accs2.tab-pane.fade
                .row
                  .product-active.owl-carousel
                    each accs in accessories
                      if (accs.id_detail_category.name === 'Cáp sạc')
                        .col-lg-12
                          // single-product-wrap start
                          .single-product-wrap
                            .product-image
                              a(href='/products/detail/'+accs.code)
                                img(src=accs.image[0], alt=accs.name)
                              |
                              span.sticker HOT
                            |
                            .product_desc
                              .product_desc_info
                                .product-review
                                  h5.manufacturer
                                    a(href='/products/'+accs.id_detail_category._id)= accs.id_detail_category.name
                                  |
                                  .rating-box
                                    ul.rating
                                      li
                                        i.fa.fa-star-o
                                      |
                                      li
                                        i.fa.fa-star-o
                                      |
                                      li
                                        i.fa.fa-star-o
                                      |
                                      li.no-star
                                        i.fa.fa-star-o
                                      |
                                      li.no-star
                                        i.fa.fa-star-o
                                |
                                h4
                                  a.product_name(href='/products/detail/'+accs.code)= accs.name
                                |
                                .price-box
                                  span.new-price= (accs.price - (accs.price * accs.sale)/100).toLocaleString('vi', {style : 'currency', currency : 'VND'})
                                  span.old-price= accs.price.toLocaleString('vi', {style : 'currency', currency : 'VND'})
                                  span.discount-percentage= accs.sale+"%"
                              |
                              .add-actions
                                ul.add-actions-link
                                  li.add-cart.active
                                    a(href='/products/add-to-cart/'+accs._id) Add to cart
                                  |
                                  li
                                    a.links-details(href='/products/add-to-wishlist/'+accs._id)
                                      i.fa.fa-heart-o
                                  |
                                  li
                                    a.quick-view-btn(href='#', title='quick view', data-toggle='modal', data-target='#exampleModalCenter')
                                      i.fa.fa-eye
                          // single-product-wrap end
              |
              #accs3.tab-pane.fade
                .row
                  .product-active.owl-carousel
                    each accs in accessories
                      if (accs.id_detail_category.name === 'Tai nghe')
                        .col-lg-12
                          // single-product-wrap start
                          .single-product-wrap
                            .product-image
                              a(href='/products/detail/'+accs.code)
                                img(src=accs.image[0], alt=accs.name)
                              |
                              span.sticker HOT
                            |
                            .product_desc
                              .product_desc_info
                                .product-review
                                  h5.manufacturer
                                    a(href='/products/'+accs.id_detail_category._id)= accs.id_detail_category.name
                                  |
                                  .rating-box
                                    ul.rating
                                      li
                                        i.fa.fa-star-o
                                      |
                                      li
                                        i.fa.fa-star-o
                                      |
                                      li
                                        i.fa.fa-star-o
                                      |
                                      li.no-star
                                        i.fa.fa-star-o
                                      |
                                      li.no-star
                                        i.fa.fa-star-o
                                |
                                h4
                                  a.product_name(href='/products/detail/'+accs.code)= accs.name
                                |
                                .price-box
                                  span.new-price= (accs.price - (accs.price * accs.sale)/100).toLocaleString('vi', {style : 'currency', currency : 'VND'})
                                  span.old-price= accs.price.toLocaleString('vi', {style : 'currency', currency : 'VND'})
                                  span.discount-percentage= accs.sale+"%"
                              |
                              .add-actions
                                ul.add-actions-link
                                  li.add-cart.active
                                    a(href='/products/add-to-cart/'+accs._id) Add to cart
                                  |
                                  li
                                    a.links-details(href='/products/add-to-wishlist/'+accs._id)
                                      i.fa.fa-heart-o
                                  |
                                  li
                                    a.quick-view-btn(href='#', title='quick view', data-toggle='modal', data-target='#exampleModalCenter')
                                      i.fa.fa-eye
                          // single-product-wrap end
            // Tab Menu Content Area End Here
          // Tab Menu Area End Here
    // Li's Trending Product Area End Here
