doctype html
html
  head
    // Meta
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name='keywords', content='MediaCenter, Template, eCommerce')
    meta(name='robots', content='all')
    title AATOYS
    // Bootstrap Core CSS
    link(rel='stylesheet', href='/assets/css/bootstrap.min.css')
    // Customizable CSS
    link(rel='stylesheet', href='/assets/css/main.css')
    link(rel='stylesheet', href='/assets/css/blue.css')
    link(rel='stylesheet', href='/assets/css/owl.carousel.css')
    link(rel='stylesheet', href='/assets/css/owl.transitions.css')
    link(rel='stylesheet', href='/assets/css/animate.min.css')
    link(rel='stylesheet', href='/assets/css/rateit.css')
    link(rel='stylesheet', href='/assets/css/bootstrap-select.min.css')
    // Icons/Glyphs
    link(rel='stylesheet', href='/assets/css/font-awesome.css')
    // Fonts
    link(href='https://fonts.googleapis.com/css?family=Barlow:200,300,300i,400,400i,500,500i,600,700,800', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,800', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
  body.cnt-home
    header.header-style-1
      // ============================================== TOP MENU ==============================================
      .top-bar.animate-dropdown
        .container
          .header-top-inner
            .cnt-account
              ul.list-unstyled
                li.myaccount
                  a(href='#')
                    span My Account
                li.wishlist
                  a(href='/wishlist')
                    span Wishlist
                li.header_cart.hidden-xs
                  a(href='/cart')
                    span My Cart
                li.login  
                  if (!checkLogin)
                    a(href='/authentication')
                      span Login
                  else
                    a(href='/authentication/logout')
                      span Logout
            .clearfix
      // ============================================== TOP MENU : END ==============================================
      .main-header
        .container
          .row
            .col-xs-12.col-sm-12.col-md-3.logo-holder
              // ============================================================= LOGO =============================================================
              .logo
                a(href='/home')
                  img(src='/assets/images/logo.png', alt='logo')
              // /.logo
              // ============================================================= LOGO : END =============================================================
            // /.logo-holder
            .col-lg-7.col-md-6.col-sm-8.col-xs-12.top-search-holder
              // /.contact-row
              // ============================================================= SEARCH AREA =============================================================
              .search-area
                form(method="GET", action="/products/search")
                  .control-group
                    ul.categories-filter.animate-dropdown
                      li.dropdown
                        a.dropdown-toggle(data-toggle='dropdown', href='category.html')
                          | Categories 
                          b.caret
                        ul.dropdown-menu(role='menu')
                          li.menu-header Product
                          li(role='presentation')
                            a(role='menuitem', tabindex='-1', href='category.html') - Theo tên sản phẩm
                          li(role='presentation')
                            a(role='menuitem', tabindex='-1', href='category.html') - Theo loại sản phẩm
                    input.search-field(placeholder='Tìm kiếm...', name="product")
                    button.search-button(style="outline: none; border: none;")
              // /.search-area
              // ============================================================= SEARCH AREA : END =============================================================
            // /.top-search-holder
            .col-lg-2.col-md-3.col-sm-4.col-xs-12.animate-dropdown.top-cart-row
              // ============================================================= SHOPPING CART DROPDOWN =============================================================
              .dropdown.dropdown-cart
                a.dropdown-toggle.lnk-cart(href='#', data-toggle='dropdown')
                  .items-cart-inner
                    .basket
                      .basket-item-count
                        span.count= cartLength || 0
                      .total-price-basket
                        span.lbl Giỏ hàng
                        if (finalPrice)
                          span.value= finalPrice.toLocaleString('vi', {style : 'currency', currency : 'VND'}) 
                        else 
                          span.value 0
                ul.dropdown-menu
                  if (!cartItems)
                    h4 Bạn chưa thêm gì vào giỏ hàng
                  else
                    each item in cartItems
                      li
                        .cart-item.product-summary
                          .row
                            .col-xs-4
                              .image
                                a(href='/products/detail/'+item.code)
                                  img(src=item.image[0], alt='')
                            .col-xs-7
                              h3.name
                                a(href='/products/detail/'+item.code)= item.name
                              .price= item.price.toLocaleString('vi', {style : 'currency', currency : 'VND'})   
                            .col-xs-1.action
                              a(href='#')
                                i.fa.fa-trash
                    .clearfix
                    hr
                    .clearfix.cart-total
                      .pull-right
                        span.text Tạm tính :
                        if (finalPrice)
                          span.price= finalPrice.toLocaleString('vi', {style : 'currency', currency : 'VND'})   
                        else
                          span.price 0
                      .clearfix
                      a.btn.btn-upper.btn-primary.btn-block.m-t-20(href='/cart') Thanh toán
                    // /.cart-total
                // /.dropdown-menu
              // /.dropdown-cart
              // ============================================================= SHOPPING CART DROPDOWN : END=============================================================
            // /.top-cart-row
          // /.row
        // /.container
      // /.main-header
      // ============================================== NAVBAR ==============================================
      .header-nav.animate-dropdown
        .container
          .yamm.navbar.navbar-default(role='navigation')
            .navbar-header
              button.navbar-toggle.collapsed(data-target='#mc-horizontal-menu-collapse', data-toggle='collapse', type='button')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            .nav-bg-class
              #mc-horizontal-menu-collapse.navbar-collapse.collapse
                .nav-outer
                  ul.nav.navbar-nav
                    li.active.dropdown
                      a(href='/home') Home
                    li.dropdown
                      a.dropdown-toggle(href='#', data-hover='dropdown', data-toggle='dropdown')= data[0][0].name
                      ul.dropdown-menu.pages
                        li
                          .yamm-content
                            .row
                              .col-xs-12.col-menu
                                ul.links
                                  each gundam in data[1]
                                    li
                                      a(href='/products/'+ gundam._id)= gundam.name
                    li.dropdown
                      a.dropdown-toggle(href='#', data-hover='dropdown', data-toggle='dropdown')= data[0][1].name
                      ul.dropdown-menu.pages
                        li
                          .yamm-content
                            .row
                              .col-xs-12.col-menu
                                ul.links
                                  each gundam in data[2]
                                    li
                                      a(href='/products/'+ gundam._id)= gundam.name
                    li.dropdown
                      a.dropdown-toggle(href='#', data-hover='dropdown', data-toggle='dropdown')= data[0][2].name
                      ul.dropdown-menu.pages
                        li
                          .yamm-content
                            .row
                              .col-xs-12.col-menu
                                ul.links
                                  each gundam in data[3]
                                    li
                                      a(href='/products/'+ gundam._id)= gundam.name
                    li.dropdown.hidden-sm
                      a(href='category.html')= data[0][3].name
                    li.dropdown
                      a.dropdown-toggle(href='#', data-hover='dropdown', data-toggle='dropdown')= data[0][4].name
                      ul.dropdown-menu.pages
                        li
                          .yamm-content
                            .row
                              .col-xs-12.col-menu
                                ul.links
                                  each gundam in data[4]
                                    li
                                      a(href='/products/'+ gundam._id)= gundam.name
                  .clearfix
      // ============================================== NAVBAR : END ==============================================
    main
      block contents
    .row.our-features-box(style="margin-top: 50px")
      .container
        ul
          li
            .feature-box
              .icon-truck
              .content-blocks Giao hàng toàn quốc
          li
            .feature-box
              .icon-support
              .content-blocks
                | Gọi
                | +84944609933
          li
            .feature-box
              .icon-money
              .content-blocks Hoàn tiền khi có lỗi
          li
            .feature-box
              .icon-return
              .content Trả hàng trong 30 ngày
    footer#footer.footer.color-bg
      .footer-bottom
        .container
          .row
            .col-xs-12.col-sm-6.col-md-3
              .address-block
                // /.module-heading
                .module-body
                  ul.toggle-footer(style='')
                    li.media
                      .pull-left
                        span.icon.fa-stack.fa-lg
                          i.fa.fa-map-marker.fa-stack-1x.fa-inverse
                      .media-body
                        p 246/71 Hòa Hưng p.13 quận 10
                    li.media
                      .pull-left
                        span.icon.fa-stack.fa-lg
                          i.fa.fa-mobile.fa-stack-1x.fa-inverse
                      .media-body
                        p  +84944609933
                    li.media
                      .pull-left
                        span.icon.fa-stack.fa-lg
                          i.fa.fa-envelope.fa-stack-1x.fa-inverse
                      .media-body
                        span
                          a(href='#') dobadov3@gmail.com
              // /.module-body
            // /.col
            .col-xs-12.col-sm-6.col-md-3
              .module-heading
                h4.module-title Customer Service
              // /.module-heading
              .module-body
                ul.list-unstyled
                  li.first
                    a(href='#', title='Contact us') My Account
                  li
                    a(href='#', title='About us') Order History
                  li
                    a(href='#', title='faq') FAQ
                  li
                    a(href='#', title='Popular Searches') Specials
                  li.last
                    a(href='#', title='Where is my order?') Help Center
              // /.module-body
            // /.col
            .col-xs-12.col-sm-6.col-md-3
              .module-heading
                h4.module-title Corporation
              // /.module-heading
              .module-body
                ul.list-unstyled
                  li.first
                    a(title='Your Account', href='#') About us
                  li
                    a(title='Information', href='#') Customer Service
                  li
                    a(title='Addresses', href='#') Company
                  li
                    a(title='Addresses', href='#') Investor Relations
                  li.last
                    a(title='Orders History', href='#') Advanced Search
              // /.module-body
            // /.col
            .col-xs-12.col-sm-6.col-md-3
              .module-heading
                h4.module-title Why Choose Us
              // /.module-heading
              .module-body
                ul.list-unstyled
                  li.first
                    a(href='#', title='About us') Shopping Guide
                  li
                    a(href='#', title='Blog') Blog
                  li
                    a(href='#', title='Company') Company
                  li
                    a(href='#', title='Investor Relations') Investor Relations
                  li.last
                    a(href='contact-us.html', title='Suppliers') Contact Us
              // /.module-body
      .copyright-bar
        .container
          .col-xs-12.col-sm-4.no-padding.social
            ul.link
              li.fb.pull-left
                a(target='_blank', rel='nofollow', href='#', title='Facebook')
              li.tw.pull-left
                a(target='_blank', rel='nofollow', href='#', title='Twitter')
              li.googleplus.pull-left
                a(target='_blank', rel='nofollow', href='#', title='GooglePlus')
    script(src='/assets/js/jquery-1.11.1.min.js')
    script(src='/assets/js/bootstrap.min.js')
    script(src='/assets/js/bootstrap-hover-dropdown.min.js')
    script(src='/assets/js/owl.carousel.min.js')
    script(src='/assets/js/echo.min.js')
    script(src='/assets/js/jquery.easing-1.3.min.js')
    script(src='/assets/js/bootstrap-slider.min.js')
    script(src='/assets/js/jquery.rateit.min.js')
    script(src='/assets/js/lightbox.min.js')
    script(src='/assets/js/bootstrap-select.min.js')
    script(src='/assets/js/wow.min.js')
    script(src='/assets/js/scripts.js')
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    script(src="https://unpkg.com/axios/dist/axios.min.js")

