extends ../layouts/layout
block contents
  .breadcrumb-area
    .container
      .breadcrumb-content
        ul
          li
            a(href='/home') Home
          |
          li.active= product.name
  // Li's Breadcrumb Area End Here
  // content-wraper start
  .content-wraper
    .container
      .row.single-product-area
        .col-lg-5.col-md-6
          // Product Details Left
          .product-details-left
            .product-details-images.slider-navigation-1
              -var i = 0;
              while (i < product.image.length)
                .lg-image
                  a.popup-img.venobox.vbox-item(href=product.image[i], data-gall='myGallery')
                    img(src=product.image[i++], alt='product image')
                |
            |
            .product-details-thumbs.slider-thumbs-1
              -var k = 0;
              while (k < product.image.length)
                .sm-image
                  img(src=product.image[k++], alt='product image thumb')
                |
            //-   |
            //-   .sm-image
            //-     img(src='images/product/small-size/2.jpg', alt='product image thumb')
            //-   |
            //-   .sm-image
            //-     img(src='images/product/small-size/3.jpg', alt='product image thumb')
            //-   |
            //-   .sm-image
            //-     img(src='images/product/small-size/4.jpg', alt='product image thumb')
            //-   |
            //-   .sm-image
            //-     img(src='images/product/small-size/5.jpg', alt='product image thumb')
            //-   |
            //-   .sm-image
            //-     img(src='images/product/small-size/6.jpg', alt='product image thumb')
          // // Product Details Left
        |
        .col-lg-7.col-md-6
          .product-details-view-content.pt-60
            .product-info
              h2= product.name
              |
              span.product-details-ref Mã thiết bị: #{product.code}
              |
              .rating-box.pt-20
                ul.rating.rating-with-review-item
                  if (everageRating == 1)
                    li
                      i.fa.fa-star-o
                    |
                    li.no-star
                      i.fa.fa-star-o
                    |
                    li.no-star
                      i.fa.fa-star-o
                    |
                    li.no-star
                      i.fa.fa-star-o
                    |
                    li.no-star
                      i.fa.fa-star-o
                  else if (everageRating == 2)
                    li
                      i.fa.fa-star-o
                    |
                    li
                      i.fa.fa-star-o
                    |
                    li.no-star
                      i.fa.fa-star-o
                    |
                    li.no-star
                      i.fa.fa-star-o
                    |
                    li.no-star
                      i.fa.fa-star-o
                  else if (everageRating == 3)
                    li
                      i.fa.fa-star-o
                    |
                    li
                      i.fa.fa-star-o
                    |
                    li
                      i.fa.fa-star-o
                    |
                    li.no-star
                      i.fa.fa-star-o
                    |
                    li.no-star
                      i.fa.fa-star-o
                  else if (everageRating == 4)
                    li
                      i.fa.fa-star-o
                    |
                    li
                      i.fa.fa-star-o
                    |
                    li
                      i.fa.fa-star-o
                    |
                    li
                      i.fa.fa-star-o
                    |
                    li.no-star
                      i.fa.fa-star-o
                  else
                    li
                      i.fa.fa-star-o
                    |
                    li
                      i.fa.fa-star-o
                    |
                    li
                      i.fa.fa-star-o
                    |
                    li
                      i.fa.fa-star-o
                    |
                    li
                      i.fa.fa-star-o
                  |
              |
              .price-box.pt-20
                span.new-price.new-price-2= product.priceSale.toLocaleString('vi', {style : 'currency', currency : 'VND'})
                span.old-price.old-price-2= product.price.toLocaleString('vi', {style : 'currency', currency : 'VND'})
              |
              .product-desc
                -var n = 0
                while (n < product.description.length)
                  p
                    span= product.description[n++]
              |
              //- .product-variants
              //-   .produt-variants-size
              //-     label Dimension
              //-     |
              //-     select.nice-select
              //-       option(value='1', title='S', selected='selected') 40x60cm
              //-       |
              //-       option(value='2', title='M') 60x90cm
              //-       |
              //-       option(value='3', title='L') 80x120cm
              //- |
              .single-add-to-cart
                form.cart-quantity(action='/products/add-to-cart/'+product._id)
                  .quantity
                    label Quantity
                    |
                    .cart-plus-minus
                      input.cart-plus-minus-box(value='1', type='text', name='quantity')
                      |
                      .dec.qtybutton
                        i.fa.fa-angle-down
                      |
                      .inc.qtybutton
                        i.fa.fa-angle-up
                  |
                  button.add-to-cart(type='submit') Add to cart
              |
              .product-additional-info.pt-25
                a.wishlist-btn(href='/products/add-to-wishlist/'+product._id)
                  i.fa.fa-heart-o
                  | Add to wishlist
                |
                .product-social-sharing.pt-25
                  ul
                    li.facebook
                      a(href='#')
                        i.fa.fa-facebook
                        | Facebook
                    |
                    li.twitter
                      a(href='#')
                        i.fa.fa-twitter
                        | Twitter
                    |
                    li.google-plus
                      a(href='#')
                        i.fa.fa-google-plus
                        | Google +
                    |
                    li.instagram
                      a(href='#')
                        i.fa.fa-instagram
                        | Instagram
              |
              .block-reassurance
                ul
                  li
                    .reassurance-item
                      .reassurance-icon
                        i.fa.fa-check-square-o
                      |
                      p Security policy (edit with Customer reassurance module)
                  |
                  li
                    .reassurance-item
                      .reassurance-icon
                        i.fa.fa-truck
                      |
                      p Delivery policy (edit with Customer reassurance module)
                  |
                  li
                    .reassurance-item
                      .reassurance-icon
                        i.fa.fa-exchange
                      |
                      p  Return policy (edit with Customer reassurance module)
  // content-wraper end
  // Begin Product Area
  .product-area.pt-35
    .container
      .row
        .col-lg-12
          .li-product-tab
            ul.nav.li-product-menu
              li
                a.active(data-toggle='tab', href='#description')
                  span Description
              |
              li
                a(data-toggle='tab', href='#product-details')
                  span Product Details
              |
              li
                a(data-toggle='tab', href='#reviews')
                  span Reviews
          // Begin Li's Tab Menu Content Area
      |
      .tab-content
        #description.tab-pane.active.show(role='tabpanel')
          .product-description
            -var n = 0
            while (n < product.description.length)
              p
                span= product.description[n++]
        |
        #product-details.tab-pane(role='tabpanel')
          .product-details-manufacturer
            a(href='#')
              img(src=product.image[0], alt='Product Manufacturer Image', width='200px', height='auto')
            |
            //- p
            //-   span Reference
            //-   |  demo_7
            //- |
            //- p
            //-   span Reference
            //-   |  demo_7
        |
        #reviews.tab-pane(role='tabpanel')
          .product-reviews
            .product-details-comment-block
              each rating in ratings
                .comment-author-infos.pt-10
                  span= rating.userId.name
                |
                .comment-review
                  span Đánh giá
                  |
                  ul.rating
                    if (rating.grade == 1)
                      li
                        i.fa.fa-star-o
                      |
                      li.no-star
                        i.fa.fa-star-o
                      |
                      li.no-star
                        i.fa.fa-star-o
                      |
                      li.no-star
                        i.fa.fa-star-o
                      |
                      li.no-star
                        i.fa.fa-star-o
                    else if (rating.grade == 2)
                      li
                        i.fa.fa-star-o
                      |
                      li
                        i.fa.fa-star-o
                      |
                      li.no-star
                        i.fa.fa-star-o
                      |
                      li.no-star
                        i.fa.fa-star-o
                      |
                      li.no-star
                        i.fa.fa-star-o
                    else if (rating.grade == 3)
                      li
                        i.fa.fa-star-o
                      |
                      li
                        i.fa.fa-star-o
                      |
                      li
                        i.fa.fa-star-o
                      |
                      li.no-star
                        i.fa.fa-star-o
                      |
                      li.no-star
                        i.fa.fa-star-o
                    else if (rating.grade == 4)
                      li
                        i.fa.fa-star-o
                      |
                      li
                        i.fa.fa-star-o
                      |
                      li
                        i.fa.fa-star-o
                      |
                      li
                        i.fa.fa-star-o
                      |
                      li.no-star
                        i.fa.fa-star-o
                    else
                      li
                        i.fa.fa-star-o
                      |
                      li
                        i.fa.fa-star-o
                      |
                      li
                        i.fa.fa-star-o
                      |
                      li
                        i.fa.fa-star-o
                      |
                      li
                        i.fa.fa-star-o
                  p
                    span= rating.date.toLocaleString()
                |
                .comment-details.mb-20
                  h4.title-block= 'Nội dung: ' + rating.comment
                |
              if (!isOrdered)
                button.btn.btn-lg.btn-secondary(disabled) Please Order First!
              else
                .review-btn
                  button.btn.btn-lg.btn-primary(href='#', data-toggle='modal', data-target='#mymodal') Write Your Review!
              // Begin Quick View | Modal Area
              #mymodal.modal.fade.modal-wrapper
                .modal-dialog.modal-dialog-centered(role='document')
                  .modal-content
                    .modal-body
                      h3.review-page-title Write Your Review
                      |
                      .modal-inner-area.row
                        .col-lg-6
                          .li-review-product
                            img(src=product.image[0], alt="Li's Product", width="350px", height="auto")
                            |
                            .li-review-product-desc
                              p.li-product-name= product.name
                              |
                              -var n = 0;
                              while (n < product.description.length)
                                p
                                  span= product.description[n++]
                        |
                        .col-lg-6
                          .li-review-content
                            // Begin Feedback Area
                            .feedback-area
                              .feedback
                                h3.feedback-title Our Feedback
                                |
                                form(action='/products/rating/'+product._id, method='POST')
                                  p.your-opinion
                                    label Your Rating
                                    |
                                    span
                                      select.star-rating(name='grade')
                                        option(value='1') 1
                                        |
                                        option(value='2') 2
                                        |
                                        option(value='3') 3
                                        |
                                        option(value='4') 4
                                        |
                                        option(value='5') 5
                                  |
                                  p.feedback-form
                                    label(for='feedback') Your Review
                                    |
                                    textarea#feedback(name='comment', cols='45', rows='8', aria-required='true', onkeyup='checkComment()')
                                    |
                                    .feedback-btn.pb-15
                                      button#submit_btn.btn.btn-success(type='submit') Submit
                                      button.btn.btn-secondary(data-dismiss='modal', style='margin-left:20px') Close
                            // Feedback Area End Here
              // Quick View | Modal Area End Here
  // Product Area End Here
  // Begin Li's Laptop Product Area
  section.product-area.li-laptop-product.pt-30.pb-50
    .container
      .row
        // Begin Li's Section Area
        .col-lg-12
          .li-section-title
            h2
              span #{relatedCount} other products in the same category:
          |
          .row
            .product-active.owl-carousel
              each product in relatedProducts
                .col-lg-12
                  include ../layouts/compornents/product-grid
        // Li's Section Area End Here
  // Li's Laptop Product Area End Here
block script
  script.
    function checkComment() {
            let submit_btn = document.querySelector('#submit_btn')
            let comment = document.querySelector('#feedback')
            if (feedback.value.length > 0){
                submit_btn.disabled = false;
            }else{
                submit_btn.disabled = true;
            }
        }