extends ../layouts/layout
block contents 
    .body-content.outer-top-xs
        .container
            .row.single-product
                .col-xs-12.col-sm-12.col-md-3.sidebar
                    include ../layouts/compornents/hot-deal
                    include ../layouts/compornents/member-description
                
                .col-xs-12.col-sm-12.col-md-9.rht-col

                    //Detail
                    .detail-block
                        .row
                            .col-xs-12.col-sm-12.col-md-4.col-lg-4.gallery-holder
                                .product-item-holder.size-big.single-product-gallery.small-gallery
                                    #owl-single-product
                                        #slide1.single-product-gallery-item
                                            a(data-lightbox='image-1', data-title='Gallery', href='/assets/images/products/p1.jpg')
                                                img.img-responsive(alt='', src='/assets/images/blank.gif', data-echo=product.image[0])
                                        // /.single-product-gallery-item
                                        #slide2.single-product-gallery-item
                                            a(data-lightbox='image-1', data-title='Gallery', href='/assets/images/products/p2.jpg')
                                                img.img-responsive(alt='', src='/assets/images/blank.gif', data-echo=product.image[1])
                                        // /.single-product-gallery-item
                                        #slide3.single-product-gallery-item
                                            a(data-lightbox='image-1', data-title='Gallery', href='/assets/images/products/p3.jpg')
                                                img.img-responsive(alt='', src='/assets/images/blank.gif', data-echo=product.image[2])
                                        // /.single-product-gallery-item
                                        #slide4.single-product-gallery-item
                                            a(data-lightbox='image-1', data-title='Gallery', href='/assets/images/products/p4.jpg')
                                                img.img-responsive(alt='', src='/assets/images/blank.gif', data-echo=product.image[3])
                                        // /.single-product-gallery-item
                                    // /.single-product-slider
                                    .single-product-gallery-thumbs.gallery-thumbs
                                        #owl-single-product-thumbnails
                                            .item
                                                a.horizontal-thumb.active(data-target='#owl-single-product', data-slide='1', href='#slide1')
                                                    img.img-responsive(alt='', src='/assets/images/blank.gif', data-echo=product.image[0])
                                            .item
                                                a.horizontal-thumb(data-target='#owl-single-product', data-slide='2', href='#slide2')
                                                    img.img-responsive(alt='', src='/assets/images/blank.gif', data-echo=product.image[1])
                                            .item
                                                a.horizontal-thumb(data-target='#owl-single-product', data-slide='3', href='#slide3')
                                                    img.img-responsive(alt='', src='/assets/images/blank.gif', data-echo=product.image[2])
                                            .item
                                                a.horizontal-thumb(data-target='#owl-single-product', data-slide='4', href='#slide4')
                                                    img.img-responsive(alt='', src='/assets/images/blank.gif', data-echo=product.image[3])
                                        // /#owl-single-product-thumbnails
                                    // /.gallery-thumbs
                                // /.single-product-gallery
                            // /.gallery-holder
                            .col-sm-12.col-md-8.col-lg-8.product-info-block
                                .product-info
                                    h1.name= product.name
                                    .rating-reviews.m-t-20
                                        .row
                                            .col-lg-12
                                                .pull-left
                                                    .rating.rateit-small
                                                .pull-left
                                                    .reviews
                                                        a.lnk(href='#') (13 Reviews)
                                        // /.row
                                    // /.rating-reviews
                                    .stock-container.info-container.m-t-10
                                        .row
                                            .col-lg-12
                                                .pull-left
                                                    .stock-box
                                                        span.label Tình trạng :
                                                .pull-left
                                                    .stock-box
                                                        if (product.status)
                                                            span.value Còn hàng
                                                        else
                                                            span.value Hết hàng
                                        // /.row
                                    // /.stock-container
                                    .description-container.m-t-20
                                        ul 
                                            each des in product.description 
                                                li= des
                                    // /.description-container
                                    .price-container.info-container.m-t-30
                                        .row
                                            .col-sm-6.col-xs-6
                                                .price-box
                                                    span.price= product.priceSale.toLocaleString('vi', {style : 'currency', currency : 'VND'})
                                                    if (product.sale > 0)
                                                        span.price-strike= product.price.toLocaleString('vi', {style : 'currency', currency : 'VND'})
                                            .col-sm-6.col-xs-6
                                                .favorite-button.m-t-5
                                                    a.btn.btn-primary(data-toggle='tooltip', data-placement='right', title='Wishlist', href='/products/add-to-wishlist/'+product._id)
                                                        i.fa.fa-heart
                                        // /.row
                                    // /.price-container
                                    .quantity-container.info-container
                                        .row
                                            .qty
                                                span.label Số lượng :
                                            .qty-count
                                                .cart-quantity
                                                    .quant-input
                                                        .arrows
                                                            .arrow.plus.gradient
                                                            span.ir
                                                                i.icon.fa.fa-sort-asc
                                                            .arrow.minus.gradient
                                                            span.ir
                                                                i.icon.fa.fa-sort-desc
                                                        input(type='text', value='1')
                                            .add-btn
                                                a.btn.btn-primary(href='/products/add-to-cart/'+product._id)
                                                    i.fa.fa-shopping-cart.inner-right-vs
                                                    |  ADD TO CART
                                    // /.row
                                    // /.quantity-container
                                // /.product-info
                            // /.col-sm-7
                        // /.row
                    
                    //Rating
                    .product-tabs.inner-bottom-xs
                        .row
                            .col-sm-12.col-md-3.col-lg-3
                                ul#product-tabs.nav.nav-tabs.nav-tab-cell
                                    li.active
                                        a(data-toggle='tab', href='#description') DESCRIPTION
                                    li
                                        a(data-toggle='tab', href='#review') REVIEW
                                // /.nav-tabs #product-tabs
                            .col-sm-12.col-md-9.col-lg-9
                                .tab-content

                                    #description.tab-pane.in.active
                                        .product-tab
                                            ul 
                                                each des in product.description 
                                                    li= des
                                           

                                    #review.tab-pane
                                        .product-tab
                                            .product-reviews
                                                h4.title Customer Reviews
                                                .reviews
                                                    .review
                                                        .review-title
                                                            span.summary We love this product
                                                            span.date
                                                                i.fa.fa-calendar
                                                                span 1 days ago
                                                        .text &quot;Lorem ipsum dolor sit amet, consectetur adipiscing elit.Aliquam suscipit.&quot;
                                                // /.reviews
                                            // /.product-reviews
                                            .product-add-review
                                                h4.title Write your own review
                                                .review-table
                                                    .table-responsive
                                                        table.table
                                                            thead
                                                                tr
                                                                    th.cell-label &nbsp;
                                                                    th 1 star
                                                                    th 2 stars
                                                                    th 3 stars
                                                                    th 4 stars
                                                                    th 5 stars
                                                            tbody
                                                                tr
                                                                    td.cell-label Quality
                                                                    td
                                                                        input.radio(type='radio', name='quality', value='1')
                                                                    td
                                                                        input.radio(type='radio', name='quality', value='2')
                                                                    td
                                                                        input.radio(type='radio', name='quality', value='3')
                                                                    td
                                                                        input.radio(type='radio', name='quality', value='4')
                                                                    td
                                                                        input.radio(type='radio', name='quality', value='5')
                                                            tr
                                                                td.cell-label Price
                                                                td
                                                                    input.radio(type='radio', name='quality', value='1')
                                                                td
                                                                    input.radio(type='radio', name='quality', value='2')
                                                                td
                                                                    input.radio(type='radio', name='quality', value='3')
                                                                td
                                                                    input.radio(type='radio', name='quality', value='4')
                                                                td
                                                                    input.radio(type='radio', name='quality', value='5')
                                                            tr
                                                                td.cell-label Value
                                                                td
                                                                    input.radio(type='radio', name='quality', value='1')
                                                                td
                                                                    input.radio(type='radio', name='quality', value='2')
                                                                td
                                                                    input.radio(type='radio', name='quality', value='3')
                                                                td
                                                                    input.radio(type='radio', name='quality', value='4')
                                                                td
                                                                    input.radio(type='radio', name='quality', value='5')
                                                        // /.table .table-bordered
                                                    // /.table-responsive
                                                // /.review-table
                                                .review-form
                                                    .form-container
                                                        form.cnt-form
                                                            .row
                                                                .col-sm-6
                                                                    .form-group
                                                                        label(for='exampleInputName')
                                                                            | Your Name 
                                                                            span.astk *
                                                                        input#exampleInputName.form-control.txt(type='text', placeholder='')
                                                                    // /.form-group
                                                                    .form-group
                                                                        label(for='exampleInputSummary')
                                                                            | Summary 
                                                                            span.astk *
                                                                        input#exampleInputSummary.form-control.txt(type='text', placeholder='')
                                                                    // /.form-group
                                                                .col-md-6
                                                                    .form-group
                                                                        label(for='exampleInputReview')
                                                                            | Review 
                                                                            span.astk *
                                                                        textarea#exampleInputReview.form-control.txt.txt-review(rows='4', placeholder='')
                                                                    // /.form-group
                                                            // /.row
                                                            .action.text-right
                                                                button.btn.btn-primary.btn-upper SUBMIT REVIEW
                                    
                                    //- #tags.tab-pane
                                    //-     .product-tag
                                    //-         h4.title Product Tags
                                    //-         form.form-inline.form-cnt
                                    //-             .form-container
                                    //-                 .form-group
                                    //-                     label(for='exampleInputTag') Add Your Tags: 
                                    //-                     input#exampleInputTag.form-control.txt(type='email')
                                    //-                 button.btn.btn-upper.btn-primary(type='submit') ADD TAGS
                                    //-             // /.form-container
                                    //-         // /.form-cnt
                                    //-         form.form-inline.form-cnt
                                    //-             .form-group
                                    //-                 label &nbsp;
                                    //-                 span.text.col-md-offset-3 Use spaces to separate tags. Use single quotes (&apos;) for phrases.
                                    //-         // /.form-cnt
                                
                    // ============================================== UPSELL PRODUCTS ==============================================
                    section.section.featured-product
                        .row
                            .col-lg-3
                                h3.section-title Related Products
                                .ad-imgs
                                    img.img-responsive(src='/assets/images/banners/home-banner1.jpg', alt='')
                                    img.img-responsive(src='/assets/images/banners/home-banner2.jpg', alt='')
                            .col-lg-9
                                .owl-carousel.homepage-owl-carousel.upsell-product.custom-carousel.owl-theme.outer-top-xs
                                    each product in relatedProducts
                                        include ../layouts/compornents/product          
                .clearfix
                        

                

                    
                